.App {
  text-align: center;
}

.logged{
  display: block;
  float: right;
margin-right: 20px;
color: blue;
}

.logged1{
  display: block;
  float: right;
  margin-right: 20px;
  color: red;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #333;
}

.linkApp{
  color: white;
  text-decoration: none;
}

.linkAppCenter{
  color: white;
  text-decoration: none;
}

.linkAppRight{
  color: white;
  text-decoration: none
}

.liAppLeft{
  float: left;
}

.signedOrNot{
  /* width: 100%; */
 height: 20px;
}

li {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
background-color: #111;
 } */

 .floatRight{
   float: right;
 }