
.inputCreator {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
    width: 70%;
    padding: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }

  .textArea {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }

  .inputField{
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 .buttonSubmit {
  
  width: 100%;
  padding: 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  background-color: purple;
  cursor: pointer;
  }
  

.divForm {
    padding: 0 20px;
   
}

.reset{
  width: 100%;
  padding: 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  background-color: black;
  color: red;
  cursor: pointer;
}

.buttonRecipe{
  display: block;
}

.divCreateRecipe{
  margin-right: auto;
  margin-left: auto;
  width: 50em;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}