/* .divLogin{
    margin-top: 50px;
    height: 300px;
    background-color: orange;
    color: white;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.inputEmail{
    margin-right: 20px;
        float:right;
        width: 200px;
        border: none;
    }

.labelEmail{
    margin-left: 20px;
    float: left;
}

.inputPassword{
    margin-right: 20px;
    float:right;
    width: 200px;
    border:none;
}

.labelPassword{
    margin-left: 20px;
    float: left;
}

.btnLoginRedirect{
width: 100%;

background-color: red;
} */



/* .btnLoginSubmit{
    margin-top: 80px;
    width: 100%;
} */

.centered{
    /* display: flex; */
    margin-top: 50px;
    width: 700px;
    height: 500px;
     margin-left: auto;
    margin-right: auto
}
/* .body{ */
   /* display: flex; */
/* } */