.divLogin{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    ;
}
.divLoginEmail{
display: inline-block;
}

.btnLoginRedirect{

margin-top: 10px;
background-color: red;
}

.btnLoginSubmit{
    margin-top: 20px;
}