.divLogin{
    margin-top: 50px;
    height: 300px;
    background-color: orange;
    color: white;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.inputEmail{
    margin-right: 20px;
        float:right;
        width: 200px;
    }

.labelEmail{
    margin-left: 20px;
    float: left;
}

.inputPassword{
    margin-right: 20px;
    float:right;
    width: 200px;
}

.labelPassword{
    margin-left: 20px;
    float: left;
}

.btnLoginRedirect{
width: 100%;
margin-top: 30px;
background-color: red;
}



.btnLoginSubmit{
    margin-top: 70px;
    width: 100%;
}

