.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 300px;
    height: 300px;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  .images {
    margin-top: 20px;
    display: block;
    border-radius: 5px 5px 0 0;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
  }

span{
  cursor: pointer;
}

  span:hover{
   color: purple

  }