.ulUser{
     width: 50%;
    margin-right: auto;
    margin-left: auto;
     background-color: rgb(0, 109, 128);
    color: white;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.liUser{
    flex: auto
}